/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    font-family: 'Spartan', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}
html { font-family: 'Source Sans 3', sans-serif; }

a {
  color: inherit;
  text-decoration: none;
}

button {
  border: none;
  background: none;
  font: inherit;
  cursor: pointer;
  color: #D8E2DC;
}

button.normal{
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: #D8E2DC;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s;
}


ion-icon, span { display: inline-block; }

.section-p1{
    padding: 40px 80px;
    background-color: #F8EDEB;
}


label, img { display: block; }

input {
  font: inherit;
  width: 100%;
  border: none;
}

input:focus { outline: 2px solid var(--azure); }



/* main*/
.container {
  max-width: 1440px;
  min-height: 100vh;
  margin: auto;
  display: flex;
  flex-direction: column;
}

/* header*/
#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 75px;
    background: #fec5bb;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}

/* navbar*/
#navbar{
    display: flex;
    align-items: center;
    justify-content: center; 
}
#navbar li{
    list-style: none;
    padding: 0 20px;
    position: relative;
}
#navbar li a{
   text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
    transition: 0.3s ease;
}
#navbar li a:hover,
#navbar li a.active{
    color: #EEC5BF

;
}
#navbar li a.active::after,
#navbar li a:hover::after{
    content: "";
    width: 30%;
    height: 2px;
    background: #EEC5BF
;
    position: absolute;
    bottom: -4px;
    left: 20px;
}
.form-container{
    background: #fff;
    width: 300px;
    height: 400px;
    position: relative;
    text-align: center;
    padding: 20px 0;
    margin: auto;
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.1);
    
}


/* shopping cart*/
#page-header{
	background-position: center center;
	background-image: url("img/headerimg.jpg");
	width: 100%;
	height: 40vh;
	background-size: cover;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 20px;
	gap: 20px;
}
#page-header h2,
#page-header p{
    color: #fff;
}
#pagination{
    text-align: center;
}
#pagination a{
    text-decoration: none;
    background-color: #088178;
    padding: 15px 20px;
    border-radius: 4px;
    color: #fff;
    font-weight: 600;
}
#pagination a i{
    font-size: 16px;
    font-weight: 600;
}

 .cart {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    border-bottom: 1px solid var(--gainsboro);
  }

  .cart .wrapper { margin-top: auto; }


 .cart1 { grid-template-columns: 1fr;
         padding: 30px 70px; }

  .cart .cart-item-box {
    border-right: 1px solid var(--gainsboro);
    margin-bottom: 0;
  }
.discount-token { border-top: none; }

.cart {
  width: 40%;
  display:         flex;
  flex-direction:  column;
  justify-content: flex-end;
}

.cart-item-box {
  padding: 40px var(--px);
  margin-bottom: auto;
}

.product-card:not(:last-child) { margin-bottom: 20px; }

.product-card .card {
  position: relative;
  display:     flex;
  align-items: flex-start;
  gap: 20px;
}

.card .product-img { border-radius: var(--radius); }

.card .detail .product-name {
  font-weight: var(--fw-6);
  font-size: var(--fs-15);
  color: var(--dim-gray);
  margin-bottom: 10px;
}

.card .detail .wrapper {
  display: flex;
  gap: 20px;
}

.product-qty {
  display:     flex;
  align-items: center;
  gap: 10px;
}

.product-qty button {
  background: var(--platinum);
  width:  20px;
  height: 20px;
  display:         flex;
  justify-content: center;
  align-items:     center;
}

.product-qty button:active,
.product-close-btn:active ion-icon { transform: scale(0.95); }

.product-qty button ion-icon {
  --ionicon-stroke-width: 60px;
  font-size: 10px;
}

.product-close-btn {
  position: absolute;
  top:   0;
  right: 0;
}

.product-close-btn ion-icon {
  font-size: 25px;
  color: var(--quick-silver);
}

.product-close-btn:hover ion-icon { color: var(--red-salsa); }

.discount-token {
  padding: 40px var(--px);
  border-top:    1px solid var(--gainsboro);
  border-bottom: 1px solid var(--gainsboro);
}

.wrapper-flex {
  display:     flex;
  align-items: center;
  gap: 30px;
}

.wrapper-flex input {
  padding: 12px 15px;
  font-weight: var(--fw-6);
  letter-spacing: 2px;
}

.btn-outline {
  padding: 10px 25px;
  border: 1px solid var(--azure);
  color: var(--azure);
}

.btn-outline:hover {
  background: var(--azure);
  color: var(--white);
}

.amount { padding: 40px var(--px); }

.amount > div {
  display:         flex;
  justify-content: space-between;
}

.amount > div:not(:last-child) { margin-bottom: 10px; }

.amount .total {
  font-size: var(--fs-18);
  font-weight: var(--fw-7);
  color: var(--onyx);
}

.checkout {
    width: 100%;
    border-right: none;
  }

#coupon{
    width: 30%;
    margin-bottom: 30px;
}
#coupon h3,
#subtotal h3{
    padding-bottom: 15px;
}
#coupon input{
    padding: 10px 20px;
    outline: none;
    width: 60%;
    margin-right: 10px;
    border: 1px solid #e2e9e1;
}
#coupon button,
#subtotal button{
	background-color: #c35972;
	color: #FFFFFF;
	padding: 12px 20px;
}
#subtotal{
    width: 30%;
    margin-bottom: 30px;
    border: 1px solid #e2e9e1;
    padding: 30px;
}
#subtotal table{
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
}
#subtotal table td{
    width: 50%;
    border: 1px solid #e2e9e1;
    padding: 10px;
    font-size: 13px;
}

/*footet style*/
footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
footer .col{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}
footer .logo{
    margin-bottom: 30px;
}
footer h4{
    font-size: 14px;
    padding-bottom: 20px; 
}
footer p{
    font-size: 13px;
    margin: 0 0 8px 0;
}
footer a{
    font-size: 13px;
    text-decoration: none;
    color: #222;
    margin-bottom: 10px;
}
footer .follow{
    margin-top: 20px;
}
footer .follow i{
    color: #222;
    padding-right: 4px;
    cursor: pointer;
}
footer .install .row img{
    border: 1px solid #088178;
    border-radius: 6px;
}
footer .install img{
    margin: 10px 0 15px 0;
}
footer .follow i:hover,
footer a:hover{
    color: #088178;
}
footer .copyright{
    width: 100%;
    text-align: center;
}

.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}







.newStyle1 {
	border: thin groove #8E3046;
	background-color: #FEC5BB;
	color: #8E3046;
}







